#root {
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logout-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: -40px;
}

@media screen and (max-width: 375px) {
  .logout-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.logout-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* navigation*/
.link-container {
  background-color: #cf2e2e;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .link-container {
    flex-direction: column;
  }
}

li {
  list-style-type: none;
}

.navigation {
  font-size: 18pt;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}

.navigation a {
  color: black;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
