:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*register component*/
.register-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 550px;
  background-color: black;
  margin-top: 180px;
  border-radius: 12px;
  padding: 30px;
}

.register-heading {
  font-family: 'Courier New', Courier, monospace;
}

.register-label {
  font-size: 16pt;
  color: white;
}

.register-input {
  font-size: 14pt;
  margin: 20px;
  padding: 10px;
  width: 400px;
  
}